<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://boyyokaapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>boyyokaapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BoyyokaApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BoyyokaApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BoyyoyoContext" Order="1" Enabled="False">
          <Destination Path="Data Source=boyyoka.database.windows.net;Initial Catalog=boyyoyo_db;Persist Security Info=True;User ID=paaldanzen;Password=iloveitwhenyoucallmebigP0PP@;Application Name=EntityFramework" Name="Data Source=boyyoka.database.windows.net;Initial Catalog=boyyoyo_db;Persist Security Info=True;User ID=paaldanzen;Password=iloveitwhenyoucallmebigP0PP@;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boyyoka.Api.BoyyoyoContext, Boyyoka.Api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BoyyoyoContext-Web.config Connection String">
      <ParameterValue>Data Source=boyyoka.database.windows.net;Initial Catalog=boyyoyo_db;Persist Security Info=True;User ID=paaldanzen;Password=iloveitwhenyoucallmebigP0PP@;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>